.env
.venv/
__pycache__/
*.egg-info/
*.pdf
*.pyc
.ipynb_checkpoints/
.DS_Store
.idea/
eda_input/
py/eda_output/_checkpoints/

#====== AWS

AWSCLIV2.pkg
.aws/
*.pem
*.ppk
aws-exports.js

#====== react

rn/frontend/node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
build/
